version: "3.9"

services:
  db:
    image: postgres:16
    container_name: atlas-db
    environment:
      POSTGRES_DB: atlas_db
      POSTGRES_USER: atlas_user
      POSTGRES_PASSWORD: strongpassword
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
