@import "./variables.css";

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background: var(--bg);
  color: var(--text);
}

h1, h2 {
  margin: 0 0 1rem 0;
}

* {
  box-sizing: border-box;
}
