apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: project-atlas
  labels:
    app: frontend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: docker.io/xgalvanize/project-atlas-frontend:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 80
