.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 0.75rem;
}

@media (min-width: 768px) {
  .form {
    flex-direction: row;
    align-items: center;
  }

  .form button {
    width: auto;
  }
}
