{{- if .Values.backend.secrets }}
apiVersion: v1
kind: Secret
metadata:
  name: backend-secrets
  namespace: {{ .Values.namespace }}
type: Opaque
stringData:
{{- range $key, $value := .Values.backend.secrets }}
  {{ $key }}: {{ $value | quote }}
{{- end }}
{{- end }}
