apiVersion: v1
kind: ConfigMap
metadata:
  name: frontend-nginx-config
  namespace: {{ .Values.namespace }}
  labels:
    app: frontend
data:
  default.conf: |
    server {
      listen 80;
      server_name _;

      root /usr/share/nginx/html;
      index index.html;

      location /static/ {
        try_files $uri =404;
      }

      location / {
        try_files $uri /index.html;
      }
    }
